<!DOCTYPE html>
<html>

<head>
<style>
table, th , td {
	border: 1px solid grey;
	border-collapse: collapse;	
	padding: 5px;
</style>

<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
</head>

<body>

<div ng-app="MyApp" ng-controller="MyCtrl">
<table>
	<tr>
		<th>Name</th>
		<th>Address</th>
		<th>Number</th>
		<th>Formatted number</th>
		<th>Email</th>
		<th>Age</th>
		<th>DOB</th>
		<th>City</th>
	</tr>
	<tr ng-repeat="x in candidates">
		<td ng-click=show(x.id)>{{x.name}}</td>
		<td>{{x.address}}</td>
		<td>{{x.number}}</td>
		<td>{{x.number | num}}</td>
		<td>{{x.email}}</td>
		<td>{{x.age}}</td>
		<td>{{x.DOB}}</td>
		<td ng-hide="x.editMode" ng-click=toggle(x.id)>{{x.city}}</td>
		<td ng-show="x.editMode"><input type="text" ng-model="x.city"></td>
	</tr>

</table>
	
<p>
<ul ng-hide="hideListView" style="list-style-type:none" >
	<li>Name - {{selectedCandidate.name}}</li>
	<li>Address - {{selectedCandidate.address}}</li>
	<li>Number - {{selectedCandidate.number}}</li>
	<li>Email - {{selectedCandidate.email}}</li>
	<li>Age - {{selectedCandidate.age}}</li>
	<li>DOB - {{selectedCandidate.DOB}}</li>
	<li>City - {{selectedCandidate.city}}</li>
</ul>
</p>
	
</div>


<script src="MyApp.js"></script>
<script src="MyCtrl.js"></script>

</body>
</html>
